@font-face {
    font-family: "creato" ;
    src: url(./creato_display/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: "vogue";
    src: url(./vogue/Vogue.ttf);
}

* {
margin: 0; 
padding: 0;
box-sizing:border-box;

  /* mes couleurs */

--col-darkblue : #120726;

--col-darkblue2 : #35304A;

--col-lightblue : #D2D9FF;
 
--col-white : #ffffff;

--col-mediumblue : #35304A;

--col-blue2 : #40517B;

--col-lightblue2 : #959BBA;

}

body {
    font-family: "creato" , sans-serif ;
    background-color: var(--col-darkblue);
}

h1 {
    font-family: "vogue" , sans-serif;
    font-size: 2.5rem;
    margin: 0 15px;
    color: var(--col-lightblue2);
}

header {
    position: fixed;
    width: 100vw;
    display: flex;
    background-color: var(--col-darkblue);
    border-bottom: #767a8f solid 3px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    
    z-index: 10;
}

.header-title {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0 25px;
}

.header-title>img {
    display: block;
    width: 20%;
    border-radius: 15%;
}

nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.btn{
    display: block;
    font-size: 1.2rem;
    padding: 8px 25px;
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    margin: 0 15px;

}

.btn-dark {
    background-color: var(--col-darkblue);
    color: var(--col-lightblue);
    border: var(--col-lightblue) solid 4px;
}

.btn-dark:hover {
    background-color: #000000;
    color: var(--col-lightblue);
    border: var(--col-lightblue) solid 4px;
}

.btn-light {
    background-color: var(--col-lightblue2);
    color: var(--col-darkblue);
    border: black solid 4px;
}

.btn-light:hover {
    background-color: #3465e0;
    color: var(--col-darkblue);
    border: black solid 4px;
} 

main {
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    
}

main>* {
    margin : 5vh 0;
}

#inter1 {
    background-image: url(../asset/bluelibrary\ background.jpeg);

}

#inter2 {
    background-image: url(../asset/libwall.jpg);

}

.inter-article {
    width: 100vw;
    aspect-ratio: 3/1;

    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: center;
    border-radius: 5%;

    background-attachment: fixed;

}

/* Reglage des articles */

article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    font-size: 1.1rem;
    width: 70%;
    padding: 50px;

    background-color: var(--col-darkblue2);
    border-radius: 10px;
    color: var(--col-lightblue);
    box-shadow: var(--col-lightblue2) 2px 2px 4px 0;
}

.art-text {
    width: 45% ;
}

.art-illus {
    display: block;
    width: 45%;
    border-radius: 5%;
    border: #000000 solid 6px;
}

footer {
    position: relative;

    top: 10vh ;
    background-color: var(--col-darkblue);
    color: var(--col-lightblue2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border-top: #767a8f solid 2px;
}

.foot-right {
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    border-right: #767a8f solid 1px;
}